<div class="my-3">
  <h1 id="experiences" class="my-3">
    Experience
  </h1>
  <div class="card-column text-center mx-2">
    {% for post in site.categories['Experience'] %}    
      <div class="card border-dark mb-3" style="max-width: 80%; min-width: 40%; min-height: 160px; margin: auto; float: none;">
        <!-- <div class="card-img-overlay" style="card-img-overlay-padding: 10;"> -->
          <img class="card-top-img" style="height: 25%;" src="{{site.baseurl}}/{{post.icon}}">
          <div class="card-body">   
                <h4 class="card-title">{{ post.title }}</h4>
                <h5 class="card-subtitle mb-2 text-muted">{{ post.duration }}</h5>
                <p class="card-text text-left">
                  {% if post.intro %}
                      {{post.intro}}
                  {% else %}
                      Click for more details!
                  {% endif%}
                  <a href="{{ site.baseurl }}{{ post.url }}" class="stretched-link">
                    👉
                  </a>
                  <br>
                  
                </p>
              {% for tag in post.tags %}
              <span class="badge badge-pill badge-primary">{{tag}}</span>
              {% endfor %}
          </div>
      </div> 
    {% endfor %}
  </div>
</div>