
<div class="py-5 border-top">
  <div class="container">

    <p class="h5 mb-3">{{ site.title | escape }}</p>

    <div class="row">

      <div class="col-sm">
        <ul class="list-unstyled">
          <!-- <li>
            <p>{{- site.description | escape -}}</p>
              {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%} 
          </li> -->
          {%- if site.email -%}
            <li>
              <a href="mailto:{{ site.email }}">
                {{ site.email }}
              </a>
            </li>
          {%- endif -%}
        </ul>
      </div>


      <div class="col-sm text-right">
        <!-- <p>{{- site.description | escape -}}</p> -->
        <a href="https://www.linkedin.com/in/{{site.social.linkedin_username}}/" target="_blank">
          <img src="{{site.baseurl}}/assets/social_icons/linkedin.svg" alt="LinkedIn" width="30" height="30">
        </a>
        <a href="https://www.instagram.com/{{site.social.instagram_username}}/" target="_blank">
          <img src="{{site.baseurl}}/assets/social_icons/instagram.svg" alt="LinkedIn" width="30" height="30">
        </a>
        <a href="https://www.facebook.com/{{site.social.facebook_username}}/" target="_blank">
          <img src="{{site.baseurl}}/assets/social_icons/facebook.svg" alt="LinkedIn" width="30" height="30">
        </a>
        <!-- https://simpleicons.org/ -->

      </div>
      <!-- https://bootswatch.com/minty/ -->

    </div>

  </div>
</div>
