---
layout: default
title: Gallary
---

<div class="row row-cols-1 row-cols-md-2">
    {% for post in site.categories['Art'] %}
      <div class="col mb-4">
        <div class="card bg-dark text-white">
          <img src="{{site.baseurl}}/assets/Arts/{{post.img}}" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text"><a href="{{post.url}}">👉</a></p>
          </div>
        </div>
      </div>
    {% endfor %}
</div>