---
layout: default
---
<h1>
    {{page.title}}
</h1>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="height: 300px; margin-bottom: 30px;">
  <ol class="carousel-indicators">
    {% for post in site.categories['Art'] %}
    {% if forloop.first == true %}
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class=”active”></li>
    {% else %}
      <li data-target="#carouselExampleIndicators" data-slide-to=”{{ forloop.index0 }}”></li>
    {% endif %}
    {% endfor %}
    </ol>
  <div class="carousel-inner">
    {% for post in site.categories['Art'] %}
      {% if forloop.first == true %}
      <div class="carousel-item active" >
      {% else %}
      <div class="carousel-item">
      {% endif %}
      <a href="{{post.url}}" class="stretched-link">
      <!-- width: 400px; height: 300px; object-fit: cover; object-position: 0% 40%; -->
          <img src="{{site.baseurl}}/assets/arts/{{post.img}}" class="d-block w-100" style="height: 300px; object-fit: cover; object-position: 0% 17.5%;" alt="...">
          <div class="carousel-caption d-none d-md-block rounded" style="background-color: rgba(255, 255, 255, .4)">
            
              <h5 class="text-danger">{{post.title}}</h5>
            
          </div>
          </a>
      </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="tags-expo">
    <h3>Contents</h3>
        <div class="tags-expo-list">
          {% for tag in site.categories %}
            {% unless tag[0] == 'Art' %}
              <a href="#{{ tag[0] | slugify }}" class="btn btn-outline-info">{{ tag[0] }}</a>
            {% endunless %}
          {% endfor %}
        </div>
        <hr/>
        <div class="tags-expo-section">
          {% for tag in site.categories %}
            {% unless tag[0] == 'Art' %}
            <h3 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h3>
              <div class="card-deck">
              {% for post in tag[1] %}
              
                <div class="card border-info mb-3" style="max-width: 320px; min-width: 300px;">
                  <div class="card-header">
                    {% if post.icon %}
                      <img src="{{site.baseurl}}/{{post.icon}}" height="30px" style="margin-right: 10px;">
                    {% endif %}
                    {{ post.header }}
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">
                      {% if post.intro %}
                        {{post.intro}}
                      {% else %}
                        Click for more details!
                      {% endif%}
                      <a href="{{ site.baseurl }}{{ post.url }}" class="stretched-link">
                          👉
                        </a>
                    </p>
                  </div>
                </div>
              
              {% endfor %}
            </div>
            {% endunless %}
          {% endfor %}
        </div>