---
layout: default
---
<h1>
    {{page.title}}
</h1>
<div class="tags-expo">
        <div class="tags-expo-list">
          {% for tag in site.categories %}
            {% unless tag[0] == 'Art' %}
              <a href="#{{ tag[0] | slugify }}" class="btn btn-outline-info">{{ tag[0] }}</a>
            {% endunless %}
          {% endfor %}
        </div>
        <hr/>
        <div class="tags-expo-section">
          {% for tag in site.categories %}
            {% unless tag[0] == 'Art' %}
            <h3 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h3>
              <div class="card-deck">
              {% for post in tag[1] %}
              
                <div class="card border-info mb-3" style="max-width: 320px; min-width: 300px;">
                  <div class="card-header">
                    {% if post.icon %}
                      <img src="{{site.baseurl}}/{{post.icon}}" height="30px" style="margin-right: 10px;">
                    {% endif %}
                    {{ post.header }}
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">
                      {% if post.intro %}
                        {{post.intro}}
                      {% else %}
                        Click for more details!
                      {% endif%}
                      <a href="{{ site.baseurl }}{{ post.url }}" class="stretched-link">
                          👉
                        </a>
                    </p>
                  </div>
                </div>
              
              {% endfor %}
            </div>
            {% endunless %}
          {% endfor %}
        </div>
        <!-- <div class="row row-cols-1 row-cols-md-2">
          {% for post in site.categories['art'] %}
            <div class="col mb-4">
              <div class="card bg-dark text-white">
                <img src="{{site.baseurl}}/assets/Arts/{{post.img}}" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">Last updated 3 mins ago</p>
                </div>
              </div>
            </div>
          {% endfor %}
      </div> -->